.example-section {
  // display: flex;
  display: -webkit-inline-flex;
  align-content: center;
  align-items: center;
  height: 20px;
  border: 1px solid #e0e0e0;
  padding: 10px;
  margin: 7px;
  width: 43%;
}
.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}